.prd_item .img_box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 1 / 1.17;
}

.prd_item .img_box .wish_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.prd_item .info_box {
    margin-top: 15px;
}

.prd_item .info_box .title {
    font-size: var(--text-size);
    padding-top: 10px;
}
.prd_item .info_box .price {
    font-size: 20px;
    font-weight: bold;
}