
.item_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #c9c9c9;
}
.info_box{
    flex: 1;
}
.info_box p{
    margin-bottom: 8px;
}
.item_box{
    overflow: hidden;
    height: 160px;
    width: 160px;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    padding: 5px;
}
.item_box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* ------------- */
.category{
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    padding: 0 13px;
    border-radius: 30px;
}
.category.cu{
    background: #C6E857;
    color:#652F8D;
}
.title{
    font-size: 20px;
    font-weight: 600;
}
.event{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    padding: 0 13px;
    border-radius: 20px;
    background: #EA0000;
}
/* ------------- */
.price{
    font-size: 24px;
    font-weight: bold;
}







.admin_event{
    position: relative;
    background-color: rgb(134, 86, 28);
}
.admin_item_info{
    background-color: aqua;
}