/* 게시판 */
.board_list_bg{
    width: 100%;
}
.board_list_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1128px;
    min-width: 800px;
    margin: 100px auto;
}

/* 게시판 검색창 */
.board_search_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:70px 0 50px;
}
.board_search_wrap :global(.form-select){
    border-radius: 10px;
    width: 120px;
    margin-right: 20px;
    height: 45px;
}
.board_search_wrap :global(.search_box){
    margin: 0;
    width: 100%;
}
.board_search_wrap :global(.search_box) input {
    width: 100%;
}

/* 게시판 정보 및 정렬 */
.brd_info_wrap{
    display: flex;
    width: 100%;
    gap: 5px;
}
.brd_list_info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 45px;
    flex: 1;
}
.brd_list_info :global(.form-select){
    width: 170px;
}

.brd_info_wrap button{
    width: 80px;
}
.brd_info_wrap button:nth-of-type(1){
    border:1px solid rgb(8, 116, 26);
    color: rgb(8, 116, 26);
}
.brd_info_wrap button:nth-of-type(2){
    border:1px solid rgb(161, 16, 16);
    color: rgb(161, 16, 16);
}

/* 게시판 리스트 */
.board_list{
    width: 100%;
    margin-top: 30px;
}

/* ------------------------------------------ */
/* 게시판 상세 */
.board_title_bg{
    width: 100%;
}
.board_title_bg p:nth-child(2){
    font-size: 18px;
}
.board_title_txt{
    font-size: var(--title-size);
    font-weight: bold;
}
.selectBrd{
    color: #fff;
    font-size: 14px;
    padding: 2px 13px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: rgb(8, 116, 26);
}
/* 게시판 수정및 등록 */
.board_title_bg input{
    height: 60px;
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding-left: 20px;
}


/* 게시판 상세 내용 */
.content_bg{
    margin: 20px auto;
    width: 100%;
    padding: 40px 40px;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
}
.content_txt{
    min-height: 300px;
    width: 100%;
    margin-bottom: 40px;
}

/* 좋아요 버튼 */
.like_btn{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 0;
    gap: 7px;

}
.like_btn img{
    /* background-color: aqua; */
    height: 18px;
    transform: translate(0%, 62%);

}




