:root {
  --main-color: #2c3e50;
  --secondary-color: #ffd600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active {
  color: #222;
  text-decoration: none;
}
.nav-link,
.nav-link:hover {
  color: #222;
}

/* input type number의 기존 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
input:focus-visible{
    outline: none;
}

button {
  border: 0;
  background: none;
}
.r-btn{
  display: flex;
  justify-content: end;
}
.min-link-btn{
  width: 110px;
  line-height: 45px;
  color: white;
  font-size: 16px;
  background-color: #2c3e50;
  border-radius: 25px;
  text-align: center;
}

.search_box {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.search_box input {
  height: 50px;
  border: 1px solid #eee;
  border-radius: 30px;
  background:#fff;
  padding: 0 50px 0 20px;
  width: 100%;
  font-size: 18px;
  
}
.search_box button {
  position: absolute;
  right: 10px; top: 12px;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.layout-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이 확보 */
}

.layout-content {
    flex: 1; /* 남은 공간을 채우도록 main 영역 확장 */
}


/* 각 페이지 메인 타이틀 */
.page-title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}