:root {
  --main-color: #2c3e50;
  --secondary-color: #ffd600;
  --title-size:36px;
  --text-size:16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active {
  color: #222;
  text-decoration: none;
}
.nav-link,
.nav-link:hover {
  color: #222;
}

/* input type number의 기존 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input:focus-visible{
    outline: none;
}
.error-msg {
  color: red;
  margin-top: 5px;
  margin-left: 30px;
}

/* 버튼 */
button {
  border: 0;
  background: none;
}
.r_btn{
  display: flex;
  width: 100%;
  justify-content: end;
}
.min_link_btn_b{
  width: 110px;
  height: 45px;
  line-height: 45px;
  color: white;
  font-size: var(--text-size);
  background-color: #2c3e50;
  border-radius: 25px;
  text-align: center;
}
.min_link_btn_w{
  width: 110px;
  height: 45px;
  line-height: 45px;
  color: rgb(0, 0, 0);
  font-size: var(--text-size);
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid #eeeeee;
  text-align: center;
}
.btn_50_b{
    text-align: center;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #2C3E50;
    color: white;
    cursor: pointer;
}
.btn_50_w{
    text-align: center;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    border:1px solid #dddddd;
    background-color: #ffffff;
}


.search_box {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.search_box input {
  height: 45px;
  border: 1px solid #eee;
  border-radius: 30px;
  background:#fff;
  padding: 0 50px 0 20px;
  width: 100%;
  font-size: 18px;
  
}
.search_box input:focus{
  background-color: #fafafa;
}
.search_box button {
  position: absolute;
  right: 10px; top: 10px;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.layout-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이 확보 */
}

.layout-content {
    flex: 1; /* 남은 공간을 채우도록 main 영역 확장 */
}


/* 각 페이지 메인 타이틀 */
.page_title{
    font-size: var(--title-size);
    font-weight: 600;
    text-align: center;
}

/* 편의점명 */
.chain_title {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  padding: 0 12px;
  border-radius: 30px;
}
.chain_title.chain_CU {
  background: #C6E857;
  color: #652F8D;
}
.chain_title.chain_GS25 {
  background: #3AA0E3;
  color: #fff;
}
.chain_title.chain_7ELEVEN {
  background: #24946B;
  color: #fff;
}


/* quill */
.ql-editor {
  font-size: var(--text-size);
  line-height: 1.6;
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: '14px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: '16px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: '18px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: '20px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="24px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  content: '24px';
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="32px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
  content: '32px';
}

/* 테이블 */
.table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* text-align: center; */
}
.table_title tr th{
  border-bottom: 1px solid #a8a8a8;
}

.modal {z-index: 1056 !important;}