
.comment{
    width: 100%;
}
.comment-count{
    font-size: 16px;
    /* font-weight: bold; */
}
.comment ul {
    padding: 18px 0;
}
.comment ul li {
    padding: 0 0 30px;
    margin: 0 0 20px;
    border-bottom: 1px solid #D9D9D9;

}
.comment ul li .comment_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment ul li .info {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    color: #7E7E7E;
}
.comment ul li .info button {
    color: #7E7E7E;
}
.comment ul li .name {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}
.comment ul li .text {
    font-size: 16px;
}
.comment .comment_box {
    display: flex;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    overflow: hidden;
}
.comment .comment_box textarea {
    width: calc(100% - 100px);
    border: 0;
    min-height: 140px;
    padding: 15px;
    font-size: 16px;
}
.comment .comment_box textarea:focus {
    outline: none;
}
.comment .comment_box button {
    font-size: 16px;
    color: #666;
    width: 100px;
    border-left: 1px solid #C9C9C9;
}
