* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.layout-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이 확보 */
}

.layout-content {
    flex: 1; /* 남은 공간을 채우도록 main 영역 확장 */
}