.login-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}
.login-title{
    margin-top: 95px;
    font-size: 35px;
    font-weight: 600;
}
.user-role-wrap{
    margin-top: 70px;
    display: flex;
    gap: 50px;
}
.user-loginp-wrap{
    display: flex; 
    flex-direction: column;
    margin-top: 40px;
    row-gap: 25px;
    background-color: aqua;
}
.user-loginp{
    height: 82px;
    width: 450px;
}
.user-loginp span{
    margin-left: 24px;
    font-size: 14px;
}
.user-loginp input{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #dddddd;
}