/* 로그인 타이틀 */
.login-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px - 250px);
    margin: 100px auto;
    min-height: 600px;
}
.login-bg-long{
    height: 100%;
}
.login-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    /* height: 100%; */
    /* background-color: #2C3E50; */
}


/* 권한선택 */
.user-role-wrap{
    margin-top: 70px;
    gap: 50px;
    font-size: 18px;
}
.user-role-wrap label:first-child{
    margin-right: 50px;
}
.user-role-wrap input{
    margin-right: 10px;
    cursor: pointer;
}

/* input창 */
.user-loginp-wrap{
    display: flex; 
    flex-direction: column;

    margin-top: 40px;
    gap: 25px;
    width: 100%;
}
.user-loginp label{
    margin-left: 24px;
    font-size: 14px;
}
.user-loginp input{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #dddddd;
    background-color: white;
    font-size: 18px;
    padding: 0 24px;
}
.user-loginp input:focus{
  background-color: #fafafa;
}


/* 찾기로 이동  */
.find-wrap{
    position: relative;
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    text-align: right;
}

/* height 50px btn & a  */
.btn-wrap{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.btn-50{
    text-align: center;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #2C3E50;
    color: white;
    cursor: pointer;
}
.link-btn-50{
    text-align: center;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    border:1px solid #dddddd;
    background-color: #ffffff;
}

.result-id-txt{
    text-align: center;
    margin: 100px 0;
}


/* 모달 오버레이 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* 모달 창 */
.modal-content {
  background-color: #fff;
  border-radius: 12px;
  width: 500px;
  height: 300px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.modal-content-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content p {
    font-size: var(--text-size);
    line-height: 34px;
    margin-bottom: 40px;
}

.modal-log-btn {
  width: 140px;
  height: 45px;
  line-height: 45px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}



