
.category{
    width: 50px;
    height: 50px;
    /* border: 1px solid #a8a8a8; */
    border-radius: 30px;
    box-shadow: 1px 1px 3px 1px #c9c9c9;
    z-index: 1;
}
.category._cu{
    background: #C6E857;
    color:#652F8D;
}
.category._7eleven{
    background: #147350;
    color:white;
}
.category._gs25{
    background: #43d2f1;
    color:#0062a3;
}
.category._default{
    background: #147350;
    color:white;
}
/* .category{
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 13px;
    border-radius: 30px;
}
.category._cu{
    background: #C6E857;
    color:#652F8D;
}
.category._7eleven{
    background: #147350;
    color:white;
}
.category._gs25{
    background: #43d2f1;
    color:#0062a3;
}
.category._default{
    background: #147350;
    color:white;
} */

