:global(.table) th {
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
    font-weight: 600;
    padding: 10px;
}
:global(.table) td {
    padding: 10px;
    vertical-align: middle;
}
